#game-information {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.information {
  @extend .border;
  @extend .rounded-3;
  @extend .border-3;
  @extend .p-1;
  @extend .m-1;
  border-color: $blue !important;
}

// the font size of a (game) information needs to be resized in small devices ( < tablets)
@media (max-width: 768px) {
  .information {
    font-size: 0.9rem;
  }
}

#remove-sticks-btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* N.B.: the name 'active-player'
   doesn't work in 'v-bind:class="{ active-player: expression}" */
.activePlayer {
  @extend .border;
  @extend .rounded-3;
  @extend .border-3;
  border-color: $errorColor !important;
}

.eliminated-player {
  background-color: gray;
}

.stick-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

/* N.B.: the name 'not-selected-stick'
   doesn't work in 'v-bind:class="{ not-selected-stick: expression}" */
.notSelectedStick {}

/* N.B.: the name 'selected-stick'
   doesn't work in 'v-bind:class="{ selected-stick: expression}" */
.selectedStick {
  background-color: $blue;
}
.selectedStick:focus {
  background-color: $blue;
}

.stick {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

/* stick dimension in extra small devices (portrait phones),
   if screen-width is under 440px: the last stick row renderization is ugly */
@media (min-width: 0px) {
  .stick {
    max-width: 20px;
    max-height: 75px;
  } 
}
// stick dimension in small devices (landscape phones)
@media (min-width: 576px) {
  .stick {
    max-width: 27px;
    max-height: 99px;
  }
}
// stick dimension in medium devices (tablets)
@media (min-width: 768px) {
  .stick {
    max-width: 38px;
    max-height: 140px;
  }
}
