#delete-account {
  color: white;
  background-color: $blue;
}

#permanently-delete-account {
  color: white;
  background-color: red;
}
#permanently-delete-account:hover {
  background-color: black;
}